<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656910214050-q1ld4831e72qjpafae62soud9m701kuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656910214050-q1ld4831e72qjpafae62soud9m701kuo</string>
	<key>API_KEY</key>
	<string>AIzaSyAxD3rfz1Jh4yGVJJ2qAufpQ9E6f0i3N5g</string>
	<key>GCM_SENDER_ID</key>
	<string>656910214050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.titebondperu</string>
	<key>PROJECT_ID</key>
	<string>fir-course-2dfdf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-course-2dfdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656910214050:ios:d629fe0ab4064632a688fb</string>
</dict>
</plist>